Flask==1.0.2
flask-script==2.0.6
flask-migrate==2.4.0
Flask-Admin==1.5.3
Flask-Login==0.4.1
flask-restplus==0.12.1
Flask-Limiter==1.0.1
psycopg2-binary==2.8.2
architect==0.5.6
bs4==0.0.1
PyJWT==1.7.1
requests==2.21.0
flask-caching==1.7.1
gunicorn==19.9.0
pandas==0.23.4
# https://github.com/noirbizarre/flask-restplus/issues/777
Werkzeug==2.2.3
dirhash==0.2.0
