{% extends "page.html" %}

{% if production %}
    {% block etracker_et_pagename %}%2FGallery%3Agallery%2F{% endblock etracker_et_pagename %}
    {% block etracker_et_pagename_nojs %}%2FGallery%3Agallery%2F{% endblock etracker_et_pagename_nojs %}
    {% block etracker_et_areas %}%2Fgallery{% endblock etracker_et_areas %}
    {% block etracker_et_areas_no_js %}%2Fgallery{% endblock etracker_et_areas_no_js %}
{% endif %}

{% block head %}
<link rel="stylesheet" href="/static/vendor/jquery-ui-1.12.1/jquery-ui.css">
{{ super() }}
{% endblock head %}

{% block main %}
    <div id="tabs">
        <h2>Popular repositories</h2>
        <div class="tabs_wrapper">
            <ul>
                {% for time_range, title, popular_repos in popular_repos_all %}
                <li><a href="#tabs-{{ loop.index }}">{{ title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% for time_range, title, popular_repos in popular_repos_all %}
        <div id="tabs-{{ loop.index }}" class="table-responsive" style="padding: 0;">
            {% with table_id=time_range, repos=popular_repos[:5], launch=True,
                    repos_length=popular_repos|length, time_range=time_range, title=title %}
            {% include "table.html" %}
            {% endwith %}
        </div>
        {% endfor %}
    </div>

    {%  for title, repos in projects %}
    <div class="table-responsive">
        <h2> {{ title }}</h2>
        {% with table_id=loop.index, repos=repos %}
        {% include "table.html" %}
        {% endwith %}
    </div>
    {% endfor %}
{% endblock main %}

{% block extra_js %}
<script src="/static/vendor/jquery-ui-1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>
{% endblock extra_js %}