<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {# The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags #}
  <title>{% block title %}Binder Gallery{% endblock %}</title>
  <meta name="description" content="Gallery of popular binder-ready repositories.">
  <meta name="robots" content="nofollow">

  <!-- Social media previews -->
  {% block meta_social %}
  <meta property="og:title" content="Binder Gallery">
  <meta property="og:description" content="Gallery of Popular Binder-Ready Repositories">
  <meta property="og:image" content="https://notebooks.gesis.org/binder/static/images/logo_square.png?v={{ static_version }}">
  <meta property="og:image:width" content="217">
  <meta property="og:image:height" content="217">
  <meta property="og:image:alt" content="The Binder Project Logo" />
  <meta name="twitter:card" content="summary">
  {% endblock meta_social %}

  {% block head %}
  <script src="{{ url_for('static', filename='vendor/anchor.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/jquery-3.2.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
{#  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap-theme.min.css') }}" rel="stylesheet" />#}
  <link href="{{ url_for('static', filename='notebooks.css', v=static_version) }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='gallery.css') }}" rel="stylesheet" />
  <link id="favicon" rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/logo/logo.png') }}" />
  {% endblock head %}

  {% block extra_css %}
  {% endblock extra_css %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='vendor/html5shiv.min.js') }}"></script>
      <script src="{{ url_for('static', filename='vendor/respond.min.js') }}"></script>
    <![endif]-->
</head>

<body>
    {% block body %}

    {% block gesis_header %}
    {% include "gesis/header.html" %}
    {% endblock gesis_header %}

    {% block nav_bar %}
    {% include "gesis/nav.html" %}
    {% endblock nav_bar %}

    <div id="main-container" class="container">
        {% block headline %}
        {% endblock headline %}

        {% block main %}

        {% block binder_select %}
        {%  with binders = binders  %}
        {% include "select_binder.html" %}
        {% endwith %}
        {% endblock binder_select %}

        {% endblock main %}
    </div>

    {% block extra_container %}
    {% endblock extra_container %}

    {% block footer %}
    {% include "gesis/footer.html" %}
    {% endblock footer %}

    {% endblock body %}

    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            {# https://www.bryanbraun.com/anchorjs #}
            {#anchors.options.icon = '#';#}
            anchors.options.class = 'heading-anchor';
            anchors.add('h2');
        });
    </script>

    <script src="{{ url_for('static', filename='scripts/gesis_nav.js', v=static_version) }}"></script>
    <script src="{{ url_for('static', filename='scripts/description_row.js', v=static_version) }}"></script>
    {% block binder_select_js %}
    <script src="{{ url_for('static', filename='scripts/select_binder.js', v=static_version) }}"></script>
    {% endblock binder_select_js %}

    {% block extra_js %}
    {% endblock extra_js %}
</body>
</html>
