{% extends "page.html" %}

{% if production %}
    {% block etracker_et_pagename %}%2FGallery%3Agallery%2F{% endblock etracker_et_pagename %}
    {% block etracker_et_pagename_nojs %}%2FGallery%3Agallery%2F{% endblock etracker_et_pagename_nojs %}
    {% block etracker_et_areas %}%2Fgallery{% endblock etracker_et_areas %}
    {% block etracker_et_areas_no_js %}%2Fgallery{% endblock etracker_et_areas_no_js %}
{% endif %}

{% block extra_css %}
<link rel="stylesheet" href="/static/vendor/DataTables/DataTables-1.10.18/css/dataTables.bootstrap.min.css">
{% endblock extra_css %}

{% block main %}
<h2>{{ title }}</h2>
{# FIXME detail button/row and datatable dont work together #}
<div class="table-responsive">
    {% with repos=popular_repos, launch=True, title=title, prefix=0,
            table_id="repos-table", popular_repos_length=popular_repos|length %}
    {% include "table.html" %}
    {% endwith %}
</div>

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
{#https://datatables.net/#}
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        if ($.fn.dataTable.isDataTable('#repos-table')) {
            table = $('#repos-table').DataTable();
        }
        else {
            table = $('#repos-table').DataTable({
                "order": [[3, "desc"]]
            });
        }
    });
</script>
{% endblock extra_js %}
{% endblock main %}
