<div class="input-group col-xs-12 col-sm-5 col-md-5" style="margin-top: 15px;">
    <span class="input-group-addon">Launch repos at</span>

    <select id="binder-select" class="form-control selectpicker"
            data-binder="https://notebooks.gesis.org/binder">
        {% for binder in binders %}
            <option value="{{ binder['url'] }}" data-versions="{{ binder['versions'] }}"> {{ binder['name'] }}
        {% endfor %}
    </select>

    <div class="input-group-btn">
        {# https://getbootstrap.com/docs/3.3/javascript/#popovers #}
        <button id="binder-versions-info" type="button" class="btn btn-default" aria-label="Versions"
                data-container="body" data-toggle="popover" data-placement="right">
            {# <span class="glyphicon glyphicon-info-sign"></span>#}
            Versions
        </button>
    </div>
</div>