<table id="{{ table_id }}" class="table table-hover">
    <thead>
    <tr>
        <th scope="col" class="col-lg-6 col-sm-6 col-xs-8">Repo</th>
        <th scope="col" class="col-lg-2 col-sm-2 hidden-xs">Org./User</th>
        <th scope="col" class="col-lg-2 col-sm-2 hidden-xs">Provider</th>
        <th scope="col" class="col-lg-1 col-sm-1 col-xs-2">{% if launch %}Launches{% endif %}</th>
        <th scope="col" class="col-lg-1 col-sm-1 col-xs-2"></th>  {# binder badge #}
    </tr>
    </thead>
    <tbody>
    {% for repo_data in repos %}
        {# repo_name, org, provider, repo_url, binder_url, description, launches  #}
        <tr data-description="{{ repo_data[5] }}" {% if repo_data[5] %}style="cursor: pointer;"{% endif %}>
            <td class="col-lg-6 col-sm-6 col-xs-8"><a href="{{ repo_data[3] }}" target="_blank">{{ repo_data[0] }}</a></td>
            <td class="col-lg-2 col-sm-2 hidden-xs">{{ repo_data[1] }}</td>
            <td class="col-lg-2 col-sm-2 hidden-xs">{{ repo_data[2] }}</td>
            <td class="col-lg-1 col-sm-1 col-xs-2">{% if launch %}{{ repo_data[6] }}{% endif %}</td>
            <td class="col-lg-1 col-sm-1 col-xs-2">
                {% if repo_data[4] %}
                    <a class="launch-badge-link" href="{{ repo_data[4] }}" target="_blank">
                        <img src="{{ binder_url }}/badge_logo.svg" title="Launch binder">
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>

    {% if repos_length %}
    {% set colspan = repos[0]|length-2 %}
    <tfoot>
        <tr>
            <td colspan="{{ colspan }}">
                {% if repos_length > 5 %}
                <a href="{{ url_for('view_all', binder=binder, time_range=time_range) }}">View all ({{ title }})</a>
                {% endif %}
                <span style="float: right;">
                    {{ total_launches }} launches over {{ repos_length }}
                    {% if repos_length > 1 %} repos{% else %} repo{% endif %}
                    {% if time_range == "all" %} since {{ first_launch_ts.strftime('%d.%m.%Y') }}{% endif %}
                </span>
            </td>
        </tr>
    </tfoot>
    {% endif %}
</table>
