{% set colspan = repos[0]|length-1 %}
<table id="{{ table_id }}" class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Repo</th>
        <th scope="col">Org./User</th>
        <th scope="col">Provider</th>
        {% if launch %}<th scope="col">Launches</th>{% endif %}
        <th scope="col"></th>  {# binder badge #}
    </tr>
    </thead>
    <tbody>
    {% for repo_data in repos %}
        {# repo_name, org, provider, repo_url, binder_url, description, launches  #}
        <tr  data-description="{{ repo_data[5] }}">
            <td><a href="{{ repo_data[3] }}" target="_blank">{{ repo_data[0] }}</a></td>
            <td>{{ repo_data[1] }}</td>
            <td>{{ repo_data[2] }}</td>
            {% if launch %}<td>{{ repo_data[6] }}</td>{% endif %}
            <td>
                {% if repo_data[4] %}
                <a href="{{ repo_data[4] }}" target="_blank"><img src="https://notebooks.gesis.org/binder/badge_logo.svg"></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>

    {% if repos_length and repos_length > 5 %}
    <tfoot>
        <tr>
            <td colspan="{{ colspan }}">
                <a href="/{{ time_range }}">View all ({{ title }})</a>
            </td>
        </tr>
    </tfoot>
    {% endif %}
</table>
