{% extends "page.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/DataTables/DataTables-1.10.18/css/dataTables.bootstrap.min.css') }}">
{% endblock extra_css %}

{% block main %}
    {{ super() }}

    <h2>{{ title }}</h2>
    <div class="table-responsive">
        {% with table_id="repos-table", repos=popular_repos, launch=True %}
            {% include "table.html" %}
        {% endwith %}

    {% set repos_length = popular_repos|length %}
    <p>
        <span style="float: left;">
            {{ total_launches }} launches over {{ repos_length }}
            {% if repos_length > 1 %} repos{% else %} repo{% endif %}
            {% if time_range == "all" %} since {{ first_launch_ts.strftime('%d.%m.%Y') }}{% endif %}
        </span>
    </p>
    </div>

{% block extra_js %}
{#https://datatables.net/#}
<script src="{{ url_for('static', filename='vendor/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/DataTables/DataTables-1.10.18/js/dataTables.bootstrap.min.js') }}"></script>

<script>
    $(document).ready(function () {
        if ($.fn.dataTable.isDataTable('#repos-table')) {
            table = $('#repos-table').DataTable();
        }
        else {
            table = $('#repos-table').DataTable({
                "order": [[3, "desc"]],
                "pageLength": 10,
                "columnDefs": [
                    { "orderable": false, "targets": 4}
                    ]
            });
        }

        // https://datatables.net/reference/event/preDraw#Example
        // update launch badges after each search event is done
        var binders = {{ binders|safe }};
        table.on('draw.dt', function () {
            for (var key in binders) {
                var b = binders[key];
                var binder_select = $('#binder-select');
                var new_binder_url = binder_select.prop('value');
                binder_select.attr('data-binder', b.url);  // this will be prev url
                if (b.url !== new_binder_url) {
                    update_launch_urls();
                }
            }
        });
    });
</script>
{% endblock extra_js %}
{% endblock main %}
